@model IEnumerable<Country>
@foreach (var o in Model)
   {
<tr id='o@(o.Id)'>

    <td>
        @o.Name
    </td>
    <td>
    
    </td>
    <td>        
        @Html.PopupFormActionLink("Edit", Mui.Edit, parameters: new object[] { o.Id }, htmlAttributes: new { @class = "abtn" })
    </td>
    <td>
     @Html.Partial("deletebtn",o)
    </td>
</tr>
}
