<ul id="menu">
    <li>@Html.ActionLink("Home", "Index", "Dinner")</li>           
    <li>@Html.ActionLink("Meals", "Index", "Meal")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
</ul>
