<ul id="menu">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Country", "Index", "Country")</li>
    <li><a href="http://awesome.codeplex.com" target="_blank">Help</a></li>    
</ul>
