<tr>
<td style="width:200px;"></td>
    <td>
        @Mui.Name
    </td>
    <td>
        @Mui.Comments
    </td>
    <td class="bcol">
    </td>
    <td class="bcol">
    </td>
    <td class="bcol">
    </td>
</tr>
