
<tr>
    <td>
        First name of Chef
    </td>
     <td>
        Last name of Chef
    </td>  
    <td>
        Country of Chef
    </td>
    <td class="bcol">
    </td>
    <td class="bcol">
    </td>
</tr>
