<ul id="menu">
    <li>@Html.ActionLink(Mui.Home, "Index", "Dinner")</li>           
    <li>@Html.ActionLink(Mui.Meals, "Index", "Meal")</li>
    <li>@Html.ActionLink(Mui.Stuff, "Index", "Stuff")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
</ul>
