@model IEnumerable<Country>
@foreach (var o in Model)
   {
<tr id='o@(o.Id)'>

    <td>
        @o.Name
    </td>
    <td>
    
    </td>
    <td>        
        @Html.PopupFormActionLink("Edit", parameters: new object[] { o.Id }, htmlAttributes: new { @class = "abtn" })
    </td>
    <td>
        <form class="fconfirm" method="post" action="@Url.Action("Delete", new{o.Id})">
        <input type="submit" value="Delete" class="confirm" />
        </form>
    </td>
</tr>
}
