<tr>
<td style="width:200px;"></td>
    <td>
        Name of Meal
    </td>
    <td>
        Comments
    </td>
    <td class="bcol">
    </td>
    <td class="bcol">
    </td>
    <td class="bcol">
    </td>
</tr>
