<div style="margin: 2em;">
    <br />
    <div class='fr'>
        <h3>
            prodinner, where pros eat</h3>
    </div>
    <div class='fl'>
        <img src="@Url.Content("~/Content/pros.png")" />
    </div>
    <div class="fl" style="margin-left: 3em; margin-right:1em;">
        <h2>
            stuff used:
        </h2>
        <ul>
            <li><a href='http://awesome.codeplex.com'>MVC Project Awesome</a> jQuery AJAX helpers</li>
            <li>Entity Framework 4 Code First CTP5 </li>
            <li><a href="http://valueinjecter.codeplex.com">ValueInjecter</a> for mapping stuff</li>
            <li><a href="http://www.jquery.com">jQuery</a></li>
            <li><a href="http://www.jqueryUI.com">jQueryUI</a> css themes, effects, etc.</li>
            <li><a href="http://imager.codeplex.com/">Imager</a> and <a href="http://deepliquid.com/content/Jcrop.html">Jcrop</a> for cropping and resizing images</li>
            <li><a href="http://encrypto.codeplex.com">Encrypto</a> for hashing and salting passwords</li>
            <li><a href="http://www.castleproject.org/container/">Castle Windsor</a> IoC Container</li>
            <li><a href="http://code.google.com/p/elmah/">ELMAH</a> for logging</li>
            <li><a href="http://code.google.com/p/fakeiteasy/">FakeItEasy</a> for testing</li>
            <li><a href="http://www.nunit.org/">NUnit</a> for testing</li>            
        </ul>
        
        project home: <a href="http://prodinner.codeplex.com">prodinner.codeplex.com</a>
    </div>
</div>
