
<tr>
    <td>
        Name of Dinner
    </td>
     <td>
        Country
    </td>
    <td>
        Chef
    </td>
    <td>
        Address
    </td>
    <td>
        Date
    </td>  
    <td class="bcol">
    </td>
    <td class="bcol">
    </td>
</tr>
