
<tr>
    <td>
        First name
    </td>
     <td>
        Last name
    </td>  
    <td>
        Country
    </td>
    <td class="bcol">
    </td>
    <td class="bcol">
    </td>
</tr>
