
<tr>
    <td>
        @Mui.First_Name
    </td>
     <td>
        @Mui.Last_Name
    </td>  
    <td>
        @Mui.Country
    </td>
    <td class="bcol">
    </td>
    <td class="bcol">
    </td>
</tr>
