
<div style="margin:2em;">
about prodinner 
<br />
<br />
<p>
stuff used:
</p>
<ul>
    <li><a href='http://awesome.codeplex.com'>mvc project awesome</a>  popup windows, lookups,
        jQuery ajax helpers</li>
    <li>Entity Framework 4 Code First CTP5</li>
    for Data Access
    <li><a href="http://www.jquery.com">jQuery</a></li>
    <li><a href="http://www.jqueryUI.com">jQueryUI</a> css themes, effects, etc.</li>
    <li><a href="http://valueinjecter.codeplex.com">valueinjecter</a> for mapping stuff</li>
    <li><a href="http://www.castleproject.org/container/">Castle Windsor</a> IoC Container</li>
    <li><a href="http://code.google.com/p/elmah/">elmah</a> for logging</li>
    <li><a href="http://code.google.com/p/fakeiteasy/">fakeiteasy</a> for testing</li>
    <li><a href="http://www.nunit.org/">NUnit</a> for testing</li>
</ul>
</div>