@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/_Layout.cshtml";
}    

<h2>
        asp.net mvc project awesome</h2>
    <div id="share">
        <strong>Share: </strong><a href="http://twitter.com/home/?source=awesome&status=just saw an Awesome asp.net-mvc open-source project http%3a%2f%2fawesome.codeplex.com%2f"
            title="Tweet this" target="_blank">
            <img src='@Url.Content("~/Content/twitter-icon.png")' alt="Twitter" border="0" />
        </a><a href="http://www.facebook.com/share.php?u=http%3a%2f%2fawesome.codeplex.com%2f"
            title="Add to Facebook" target="_blank">
            <img src="@Url.Content("~/Content/facebook-icon.png")" alt="Facebook" border="0" />
        </a><a href="http://www.google.com/reader/link?url=http%3a%2f%2fawesome.codeplex.com%2f&title=mvc project awesome&snippet=the+most+awesome+asp.net+mvc+project+on+http%3a%2f%2fawesome.codeplex.com%2f&srcTitle=mvc+project+awesome"
            title="Add to Google Buzz" target="_blank">
            <img src="@Url.Content("~/Content/google-icon.png")" alt="Google Buzz" border="0" />
        </a>
        <br />
        <input name="share_link" type="text" value="http://awesome.codeplex.com" class="widget"
            onclick="this.select()" size="15" />
    </div>
    <p>
        I made this project to show an awesome way of doing asp.net mvc.
    </p>
    <p>
        hosted on: <a href="http://awesome.codeplex.com">http://awesome.codeplex.com</a></p>
    stuff used:
    <ul>
        <li><a href="http://www.jquery.com">jQuery</a></li>
        <li><a href="http://www.jqueryUI.com">jQueryUI</a> css themes, dialog windows, effects
            etc.</li>        
        <li><a href="http://jquery.malsup.com/form/">jquery.form plugin</a> for making ajax
            forms</li>
        <li><a href="http://valueinjecter.codeplex.com">valueinjecter</a> for mapping stuff</li>
        <li><a href="http://www.castleproject.org/container/">Castle Windsor</a> IoC Container</li>
        <li><a href="http://code.google.com/p/elmah/">elmah</a> for logging</li>
        <li><a href="http://code.google.com/p/fakeiteasy/">fakeiteasy</a> for testing</li>
        <li><a href="http://www.nunit.org/">NUnit</a> for testing</li>

        <li>
            @Html.ActionLink("error page","index","error") 
            ripped of from <a href="http://www.stackoverflow.com/error">stackoverflow</a></li>
    </ul>
    <h2>
        about me:</h2>
    <ul>
        <li>Name: Valentin Plamadeala</li>
        <li><a href="http://www.linkedin.com/pub/valentin-plamadeala/19/105/aa1" target="_blank">linkedin</a></li>
        <li><a href="http://twitter.com/#!/omuleanu" target="_blank">twitter</a></li>
        <li><a href="http://www.youtube.com/omuleanu" target="_blank">youtube channel</a></li>
        <li><a href="http://stackoverflow.com/users/112100/omu" target="_blank">
            <img src="http://stackoverflow.com/users/flair/112100.png" width="208" height="58"
                alt="profile for Omu at Stack Overflow, Q&A for professional and enthusiast programmers"
                title="profile for Omu at Stack Overflow, Q&A for professional and enthusiast programmers">
        </a></li>
        
    </ul>
</asp:Content>
