@model IEnumerable<Country>
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach (var i in Model)
{
    <p>@i.Name
    </p>
}
<a href="http://www.google.com">Google</a><br/>
@Html.ActionLink("About", "About") <br/>
@Html.ActionLink("Adauga o tara", "CreateCountry")
