@model Meal
<li class="ae-lookup-item mealitem" data-value="@Model.Id">
<div>
<span class="ae-lookup-mbtn fl">
</span>
 @Model.Name
 </div>
 <img  src='@Url.Content("~/pictures/Meals/" + (Model.HasPic ? Model.Id : 0) + ".jpg")' class="thumb"  alt='picture' />  
</li>
